*{
    background-color: rgba(255, 255, 255, 0.521);
}
  


.welcomeheader{
    background-color:rgba(255, 255, 255, 0.514)
    
}
.UserName{
    color: black;
    margin-right: 2rem;
}
#navbarSupportedContent{
    margin-left: 3rem;

}

.TorusLogo{
    border-radius: 50%;

    
}

